<%= form_with(url: notify_friend_article_path(article)) do |form| %>
  <div class="field">
    <%= form.label :name, 'Your name' %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :email, "Your friend's email" %>
    <%= form.text_field :email %>
  </div>
  <div class="actions">
    <%= form.submit 'Send' %> or
    <%= link_to 'Cancel', '#', onclick: "document.querySelector('#notify_friend').style.display='none';return false;" %>
  </div>
<% end %>
