<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.header", count: article.errors.count) %></h2>
      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :cover_image %>
    <%= form.file_field :cover_image %>

    <% if article.cover_image.attached? %>
      <p>
        <%= image_tag article.cover_image.variant(resize_to_limit: [50, 50]) %>
        <br>
        <%= form.label :remove_cover_image do %>
          <%= form.check_box :remove_cover_image %> <%= t("articles.remove_this_image") %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
      <% b.label { b.check_box + b.text } %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :excerpt %>
    <%= form.text_field :excerpt %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>

  <div class="field">
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at %>
  </div>

  <div class="actions">
    <%= submit_or_cancel(form) %>
  </div>
<% end %>
